[{'OpenACD', [
	{console_loglevel, info},
	{logfiles, [
		%% Replace this
		{"/home/jvliwanag/playground/var/log/openacd/openacd.log", info}
	]},
	%% Replace this
	{plugin_dir, "/home/jvliwanag/playground/lib/openacd/plugin.d"}
]},
{sasl, [
	{errlog_type, error} % disable SASL progress reports
]}].
